menu "Room Sensor Config"

config DHT11_GPIO
	int "DHT11 data GPIO"
	range 0 39
	default 5
	help
		GPIO used for DHT11 data pin.
config STATUS_LED_GPIO
	int "Status LED GPIO"
	range 0 39
	default 2
	help
		GPIO used for status led pin.
endmenu
